
@{
    ViewBag.Title = "EmanetListesi";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>EmanetListesi</h2>

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">

            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a href="#emanetlist" data-toggle="modal" class="btn green-sharp" onclick="funcNewRecord()">Yeni Kayıt Ekle  <i class="fa fa-plus"></i></a>
                                <form class="search-form search-form-expanded" action="http://www.keenthemes.com/preview/metronic/theme/templates/admin2/extra_search.html" method="GET">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search..." name="query">
                                        <span class="input-group-btn">
                                            <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                                        </span>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                </div>

                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
                                Username
                                activate to sort column ascending"
                                style="width: 165px;">
                            Kitap Adı
                            </th>

                            <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
                                Full Name
                                activate to sort column ascending"
                                style="width: 208px;">
                              Emanet Alan Üyenin Adı
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
                                Full Name
                                activate to sort column ascending"
                                style="width: 208px;">
                                Emanet Alan Üyenin Soyadı
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
                                Full Name
                                activate to sort column ascending"
                                style="width: 208px;">
                                Kütüphane Adı
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
                                Full Name
                                activate to sort column ascending"
                                style="width: 208px;">
                                Emanet Tarihi
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
                                Full Name
                                activate to sort column ascending"
                                style="width: 208px;">
                                Teslim Tarihi
                            </th>
                      
                            <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
                                Full Name
                                activate to sort column ascending"
                                style="width: 208px;">
                                Süre
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="sample_editable_1" rowspan="1" colspan="1" aria-label="
                                Points
                                activate to sort column ascending"
                                style="width: 111px;">
                                Sil
                            </th>

                        </tr>
                    </thead>
                    <tbody id="tablodoldur"></tbody>
                </table>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>

<div id="emanetlist" class="modal fade" aria-hidden="true" style="display: none; width: 70%; left: 14%; top: 13%;">
        <div class="modal-dialog modal-full">
            <div class="modal-content" style="">
                <div class="modal-body" style="padding: 0px;">
                    @Html.Partial("~/Views/Admin/Partial/Emanet_List.cshtml")
                </div>
            </div>
        </div>
    </div>

<script>
    function texboxtemizleme() {
        $("input").each(function () {
            $(this).val("");
        });
    }
    function funcNewRecord() {
        $('#btnSend').attr('onclick', 'funcModalSend(true)');
    }
    function sill(e) {
        tgAjx("", "/Admin/Emanetsil?Eid=" + e, function (g) { loadgrid(); loadgrid(); });
    }

    function ConvertJSONDate(sNetDate) {
        /// <summary>
        /// Örn : 25/06/2015
        /// </summary>
        /// <param name="sNetDate" type="type"></param>
        /// <returns type=""></returns>
        if (sNetDate != null) {
            var date = new Date(parseInt(sNetDate.substr(6)));
            return (date.getDate().toString() + '/' + (date.getMonth() + 1).toString() + '/' + date.getFullYear().toString());
        } else { return null; }
    }

    function loadgrid() {
        tgAjx("", "/Admin/EmanetListesiLoad", function (e) {
            $('#tablodoldur')[0].innerHTML = "";
            var liste = "";
            for (var i = 0; i < e.length; i++) {
                liste += "<tr>";
                liste += "<td>" + e[i].KitapAd + "</td>";
                liste += " <td>" + e[i].Ad + "</td>";
                liste += "<td>" + e[i].Soyad + "</td>";
                liste += "<td>" + e[i].KütüphaneAd + "</td>";
               
               
                liste += "<td>" + ConvertJSONDate(e[i].EmanetT) + "</td>";
                liste += "<td>" + ConvertJSONDate(e[i].TeslimT) + "</td>";
                liste += "<td>" + e[i].asd + "</td>";
                liste += "<td><Button type='button' class='btn btn-primary'  onclick='sill(" + e[i].Id+ ")'>Sil</button></td>";
                liste += "</tr>";
            }
            $('#tablodoldur')[0].innerHTML = liste;

        });
    }
    $(document).ready(function (f) {
        loadgrid();
    });


</script>
