
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/Admin_Layout.cshtml";
}
<div >
    <a href="index.html">

        <img src="~/Resim/aa.png" />
    </a>
    <div class="menu-toggler sidebar-toggler"> </div>
</div>
